@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-nav:hover {
  background: linear-gradient(180deg, #231f20 0%, rgba(34, 34, 34, 0) 100%);
  transform: rotate(-180deg);
}
.hover-nav:hover span {
  transform: rotate(-180deg);
}

.hover-nav:hover img {
  transform: rotate(-180deg);
}

.animation-rotate:hover .rotate {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.progress-bar {
  background: linear-gradient(
    180deg,
    #31969d 0%,
    #65e6f4 31.77%,
    #24aebd 66.15%,
    #1299a8 98.96%
  );
}
.blue-font {
  color: #24aebd;
}

.cards {
  grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
}

.font-regular {
  font-family: "Open Sans", sans-serif;
}

.skew {
  transform: skew(-13deg, 0deg);
}

body {
  font-family: "BeaufortforLOL-Bold";
}
