@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-nav:hover {
  background: linear-gradient(180deg, #231f20 0%, rgba(34, 34, 34, 0) 100%);
  transform: rotate(-180deg);
}
.hover-nav:hover span {
  transform: rotate(-180deg);
}

.progress-bar {
  background: linear-gradient(
    180deg,
    #31969d 0%,
    #65e6f4 31.77%,
    #24aebd 66.15%,
    #1299a8 98.96%
  );
}

body {
  font-family: "BeaufortforLOL-Bold";
}

.cards {
  grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
}
